.formCard {
    width: 50%;
    border-radius: 0 0 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
}

.card{
    border-radius: 8px;
    width: 80%;
    color: #fff;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    flex-direction: column;
    background-color: #444552;
}

.card p {
    margin-left: 10px;
}