.formSection {
    width: 50%;
    min-height: 100%;
    border-radius: 0 0 0 10px;
    background-color: #55565c8c;
}

.formSection form {
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

form input {
    width: 250px;
    height: 30px;
    border-radius: 8px;
}

.formSection button {
    cursor: pointer;
    width: 250px;
    color: #fff;
    background-color: #0a0a7710;
    height: 30px;
    border-radius: 8px;
}

.errorMessage {
    color:  red;
    font-weight: bold;
}